<!DOCTYPE html>
<html>
<head>
    <title> CS355 <%= subtitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Database Management Systems</h1>
<p><%= subtitle %></p>