<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Schools</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/schools/?school_id=<%= rs[i].school_id %>"> <%= rs[i].sname %></a></td>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No schools are entered into the Schools database table.
    <% } %>
</div>