<% include partials/header %>

    <a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>
    <br />
    <a href="http://localhost:3000/helloworld.html">Absolute Link Example</a>
    <br/>
    <a href="helloworld.html">Relative Link Example</a>
    <br />
    <a href="/templatelink">Template Link Example</a>
    <br />
    <a href="/accounts/?account_id=1">Account By ID</a>
    <br />
    <a href="/accounts/all">All Accounts</a>
    <br />
    <a href="/schools/all">All Schools</a>
    <br />
    <a href="/gpa/all">All Company GPAs</a>
    <br />
    <a href="/jobview/all">User Job View</a>
    <br />
    <br />
    Lab 9
    <br />
    <br />
    <a href="/gpa/create">Add New Company</a>
    <br />
    <a href="/schools/create">Add New School</a>
    <br />
    <a href="/users/create">Add New Account</a>
    <br />
    <br />
    Lab 10
    <br />
    <br />
    <a href="/"
<% include partials/footer %>